<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <title>FAM Digital</title>
    <meta name="keywords" content="fam, fam digital, faculdade, ead, faculdade de americana, americana">  
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/grids.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png" />
    <meta http-equiv="Cache-Control" content="public" />

    <!-- FACEBOOK OG TAGS -->
    <meta property="og:title" content="FAM Digital" />
    <meta property="og:site_name" content="FAM Digital" />
    <meta property="og:description" content="O FAM Digital é o único curso EAD que conta com a experiência internacional da Plataforma de Ensino a Distância BrightSpace da D2L, empresa canadense líder no segmento de Sistemas de Gerenciamento de Aprendizagem além de contar com mais de 18 anos de know-how dos cursos FAM." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.b2sinterativa.com.br/famdigital/img/screenshot.png" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="498"> 
    <meta property="og:image:height" content="500">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80310575-8"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-80310575-8');
	</script>

	<!-- Widget Huggy -->
	<script>var $_PowerZAP={defaultCountry:'+55',widget_id:'2419',company:"7496"};(function(i,s,o,g,r,a,m){i[r]={context:{id:'494e5b9614f4ba877ae1913c167926aa'}};a=o;o=s.createElement(o);o.async=1;o.src=g;m=s.getElementsByTagName(a)[0];m.parentNode.insertBefore(o,m);})(window,document,'script','https://w-cdn.huggy.io/widget.min.js?v=6.14.2','pwz');</script>
 
    <!-- TWITTER OG TAGS -->
    <meta name="twitter:title" content="FAM Digital" />
    <meta name="twitter:description" content="O FAM Digital é o único curso EAD que conta com a experiência internacional da Plataforma de Ensino a Distância BrightSpace da D2L, empresa canadense líder no segmento de Sistemas de Gerenciamento de Aprendizagem além de contar com mais de 18 anos de know-how dos cursos FAM." />
    <meta name="twitter:image" content="http://www.b2sinterativa.com.br/famdigital/img/screenshot.png" />
</head>
<body>    
	
<div id="video">
	<a href="#" class="close"></a>
	<div id="target-inner">
    	<iframe width="100%" height="100%" src="https://www.youtube.com/embed/itFFJDlR6-I?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
</div>

<header class="full">           
    <main>
        <nav class="menu">
            <div class="nav-cont">
                <a id="logo" href="index.php"><img border="0" src="/assets/img/logo.png" /></a>
                <img src="/assets/img/menu.png" id="hamburger" />
            </div>
            <div id="list">
                <a href="#sobre">Sobre</a>
                <a href="#tutores">Tutores</a>
                <a href="#grade">Grade</a>
                <a href="#preco">Preço</a>
                <a href="http://www.fam.br" target="_blank">Fam</a>
                <a href="https://famdigital.com.br/" style="color:#3ab2ff;">Inscreva-se</a>            
            </div>
        </nav>
    </main>

    <script>
        $(document).ready(function() {
        $(window).scroll(function() {
        if($(document).scrollTop() > 10) {
            $('#nav').addClass('change');
        }
        else {
        $('#nav').removeClass('change');
        }
    });
    });
    </script>

	<div class="container">
		<div class="row inicio">
			<div class="col-lg-6 padding">                
				<img border="0" src="/assets/img/famdigital.png" class="wow fadeIn" />
				<h2>VOCÊ GRADUADO NO SEU TEMPO!</h2>
				<a href="#preco">
					<form target="_blank" action="https://famdigital.com.br/" method="get"><button type="submit" class="circle whitebg wow pulse infinite">Inscreva-se por apenas <b>R$ 239,00</b></button></a>
				</a>
				<a href="#video">
					<button class="circle">Assista o Vídeo &nbsp; <i class="fa fa-play" aria-hidden="true"></i></button>	
				</a>	
				<div class="aulas">
					<p><b>INÍCIO DAS AULAS:</b><br>1º Semestre 2019</p>
					<p><b>PRÉ-REQUISITOS:</b><br>Não é necessário ter experiência prévia com cursos a distância (EAD)</p>
					<ul>
						<li>Conhecimento básico de informática – nível usuário de Internet</li>
						<li>Computador ou tablet ou smartphone para acompanhar as aulas</li>
						<li>Ensino médio completo</li>
					</ul>
				</div>	
				
			</div>
			<div class="col-lg-6 esconder">
				<center><a href="#video">
					<img border="0" src="/assets/img/phonex.png" class="phonex wow bounceInLeft" />
				</a></center>
			</div>			
		</div>	
	</div>    
</header> 
	
<section class="desenvolvido">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<p>DESENVOLVIDO POR:</p>
			</div>
			<div class="col-lg-4">
				<img border="0" src="/assets/img/fam.png" class="wow fadeIn" />
			</div>
			<div class="col-lg-4">
				<img border="0" src="/assets/img/brightspace.png" class="wow fadeIn" data-wow-delay=".2s" />
			</div>
		</div>
	</div>	
</section>	
	
<section id="sobre">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<img border="0" src="/assets/img/phone.png" class="wow bounceInDown"/>
            </div>
			<div class="col-lg-6 padding">
                <h1>POR QUE ESCOLHER<br>O FAM DIGITAL?</h1>							
				<p>O FAM Digital é o único curso EAD que conta com a experiência internacional da Plataforma de Ensino a Distância BrightSpace da D2L, empresa canadense líder no segmento de Sistemas de Gerenciamento de Aprendizagem além de contar com mais de 18 anos de know-how dos cursos FAM. Além disto você pode usufruir de uma infra-estrutura completa com mais de 100 mil metros quadrados com laboratórios e biblioteca para complementar seus estudos bem pertinho de sua casa.</p>				
			</div>			
		</div>
	</div>	
</section>

<section id="tutores">
	<div class="container imgcenter">
		<div class="row">			
			<div class="col-lg-12">
                <h1>CONHEÇA SEUS TUTORES</h1>							
				<p class="subtitle">Você contará com suporte de tutores todos os dias para tirar dúvidas sobre seu curso e sobre as atividades a serem desenvolvidas.</p>				
			</div>				
		</div>
		<div class="row">
			<div class="tutor wow fadeIn">
				<img border="0" src="/assets/img/amstalden.png" />
				<h2>Emilio Amstalden</h2><span>Coordenador</span>
				<p>Graduação em Administração (1983), pela Unimep; Graduação em Ciências Contábeis (1985), pela Unimep; Mestre em Administração (2001) pela PUC-SP; Pós-graduação em Administração Financeira e Auditoria (1986), Pós-graduação em Gestão Estratégica de Pessoas (2010), Professor no ensino superior há mais de trinta e um anos, Professor da Pós-graduação há mais de 15 anos. Leciona em disciplinas das áreas de Administração e Contábeis.</p>
				<!--<a href="" target="_blank">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="" target="_blank">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
				<a href="" target="_blank">
					<i class="fa fa-google-plus" aria-hidden="true"></i>
				</a>
				<a href="" target="_blank">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>				-->
			</div>
			<div class="tutor wow fadeIn" data-wow-delay=".2s">
				<img border="0" src="/assets/img/clayton.png" />
				<h2>Clayton Peressinotto</h2><span>Tutor</span>
				<p>Mestre em Educação pela Unisal Americana/SP; Pós-graduando em Gestão Estratégica de Projetos pela Uninter; Bacharel em Administração pela Unifenas, em Alfenas/MG.<br>
				Na FAM, é professor conteudista da disciplina Administração da Produção (EAD); tutor das disciplinas semipresenciais de Gestão nos cursos presenciais; professor responsável da área de Gestão para as disciplinas semipresenciais; Professor dos cursos de Administração presencial e do curso de Administração a distância.<br>
				Na empresa empresa Cresça Brasil (adquirida pela UOL Cursos) foi autor de materiais para EAD e corretor ortográfico. <br>
				Atuou em varias empresas na área de gestão, RH e produção.</p>

				<!--<a href="" target="_blank">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="" target="_blank">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
				<a href="" target="_blank">
					<i class="fa fa-google-plus" aria-hidden="true"></i>
				</a>
				<a href="" target="_blank">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>				-->
			</div>
			<div class="tutor wow fadeIn" data-wow-delay=".3s">
				<img border="0" src="/assets/img/flavio.png" />
				<h2>Daives Bergamasco</h2><span>Tutor</span>
				<p>Responsável pelas disciplinas da área de Exatas - Lógica e Matemática / Probabilidade e Estatística.<br>
				Doutor em Engenharia Química pela Universidade Estadual de Campinas - Unicamp, com pesquisas nas áreas de tratamento de superfícies têxteis com descarga corona. Mestre em Engenharia Química pela Universidade Estadual de Campinas - Unicamp - Especialista em Engenharia de Qualidade pela Universidade Estadual de Campinas - Unicamp. Graduado em Tecnologia em Processamento de Dados pela Faculdade de Tecnologia de Americana - FATEC-AM (1998), graduado em Tecnologia Têxtil pela Faculdade de Tecnologia de Americana - FATEC-AM (2003) e graduado em Engenharia de Agrimensura pela FEAP Pirassununga (2015). Trabalha na Faculdade de Americana nos cursos de Ciência da Computação, Engenharia Civil. No Curso de EAD é professor responsável pela área de exatas.</p>
				<!--<a href="" target="_blank">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<a href="" target="_blank">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
				<a href="" target="_blank">
					<i class="fa fa-google-plus" aria-hidden="true"></i>
				</a>
				<a href="" target="_blank">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>				-->
			</div>
		</div>
	</div>	
</section>
	
<section id="grade">
	<div class="container">
		<div class="row">			
			<div class="col-lg-12">
                <h1>CONHEÇA OS NOSSOS CURSOS</h1>							
				{# <p class="subtitle">A grade curricular do Curso de Administração foi dividida em módulos bimestrais para facilitar seu processo de aprendizagem.</p>				 #}
			</div>				
		</div>
		<div class="row materias">
			<div class="col-lg-4 materia">
				<img border="0" src="/assets/img/icon1.png" />
				<h2>Tecnólogo em Logística</h2>
				<p>
					Organização, palavra chave para os profissionais em Logística. Uma especialidade responsável por promover informações e gerar ações para melhorar as atividades de uma empresa. Todos os dados e produtos organizados para a redução de perdas e na melhoria da entrega de qualquer produto ou serviço. A carreira para o profissional de Logística está em alta, pois ele pode implicar em aumento de eficiência e diminuição de gastos para as empresas. O curso na FAM prepara o profissional para determinar, projetar e programar sistemas de transporte, armazenamento, distribuição e entrega de produtos, aplicando visão organizacional, administrando recursos materiais, financeiros e pessoais.<br>
					<strong>Duração:</strong> 4 semestres
				</p>
			</div>
			<div class="col-lg-4 materia">
				<img border="0" src="/assets/img/icon2.png" />
				<h2>Tecnólogo em Marketing</h2>
				<p>
					2019 promete muito em termos de marketing online e as tendências do marketing digital já podem ser observadas nitidamente. O contínuo aumento do número de usuários da Internet e o crescimento dos acessos dos dispositivos móveis faz do marketing digital uma prioridade para todos os tipos de empresas, principalmente pela busca de novos negócios e oportunidades. O curso da FAM prepara o profissional para identificar as tendências do mercado, traçar o perfil dos consumidores e criar campanhas para manter uma boa imagem de marcas e produtos. Além de desenvolver estudos de perfil do consumidor, elaborar estratégias de comunicação e ajudar a definir o posicionamento mercadológico da empresa.<br>
					<strong>Duração:</strong> 4 semestres
				</p>
			</div>
			<div class="col-lg-4 materia">
				<img border="0" src="/assets/img/icon3.png" /><br><br>
				<h2>Tecnólogo em Gestão de Recursos Humanos</h2>
				<p>
					Este curso forma profissionais de nível superior para atuar em qualquer organização de trabalho, isto é, empresas de todos os setores como: indústria, comércio, educação, entre outras. Não é à toa que esses profissionais têm recebido cada vez mais atenção em todo tipo de organização. Um departamento de RH bem estruturado se reflete em desempenho positivo da empresa como um todo.<br>
					<strong>Duração:</strong> 4 semestres
				</p>
			</div>
		</div>
		<br><br>
		<div class="row materias">
			<div class="col-lg-4 materia">
				<img border="0" src="/assets/img/icon4.png" />
				<h2>Pedagogia</h2>
				<p>
					Pedagogo, um profissional preparado para a formação de pessoas. O profissional de pedagogia estuda as teorias de ensino e aprendizagem, ele planeja, organiza, desenvolve materiais e atividades voltados para a Educação Básica, podendo atuar em diversas áreas da educação, auxiliando na melhoria do ensino. Basicamente ele é o responsável pelos métodos de estudo e ensino, tendo papel fundamental na formação na sociedade em um todo.<br>
					A FAM prepara o profissional não só para atuar em escolas, desde o ensino infantil até o médio, mas também em consultorias e assessorias, editoras de livros didáticos, empresas produtoras de cursos à distância, escolas de idiomas entre outros segmentos.<br>
					<strong>Duração:</strong> 6 semestres
				</p>
			</div>
			<div class="col-lg-4 materia">
				<img border="0" src="/assets/img/icon5.png" />
				<h2>Administração</h2>
				<p>
					Para serem competitivas, empresas precisam de bons profissionais de Administração.<br>
					O administrador é peça essencial em muitas áreas, ele é responsável por organizar, planejar e orientar os recursos de uma empresa. No Brasil existem cerca de 19 milhões de empresas ativas, de diversos portes, e todas elas necessitam, direta ou indiretamente, de um administrador. Ele tem papel fundamental nos aspectos financeiro, material e humano.<br>
					A FAM forma profissionais com capacidade de decisão, organização, negociação, iniciativa, espírito empreendedor, responsabilidade, dinamismo, liderança e valores éticos.<br>
					<strong>Duração:</strong> 8 semestres
				</p>
			</div>
			{# <div class="col-lg-4 materia">
				<img border="0" src="/assets/img/icon6.png" />
				<h2>Administração de Recursos Humanos</h2>
				<p>
					Este curso forma profissionais de nível superior para atuar em qualquer organização de trabalho, isto é, empresas de todos os setores como: indústria, comércio, educação, entre outras. Não é à toa que esses profissionais têm recebido cada vez mais atenção em todo tipo de organização. Um departamento de RH bem estruturado se reflete em desempenho positivo da empresa como um todo.<br>
					<strong>Duração:</strong> 4 semestres
				</p>
			</div> #}
		</div>
		{# <div class="row">
			<button onclick="window.open('https://www.fam.br/cursos/ead/adm-ead/');" class="btn wow fadeIn">ver mais</button>
		</div> #}
	</div>	
</section>
	
<footer id="preco">	
	<div class="container">
		{# <div class="row">
			<div class="col-lg-6">
				<img border="0" src="/assets/img/famdigital.png" class="wow fadeIn" />
				<h2>VOCÊ GRADUADO EM ADMINISTRAÇÃO NO SEU TEMPO!</h2>				
				<a href="#video">
					<button class="circle">Assista o Vídeo &nbsp; <i class="fa fa-play" aria-hidden="true"></i></button>	
				</a>	
			</div>      
			<div class="col-lg-4 col-lg-offset-2 box wow bounceInUp">
				<h2>VALOR</h2>
				<span>R$ </span><span class="preco">239,00</span><br><span><b>MENSAIS</b></span><br>
				<form target="_blank" action="https://famdigital.com.br/" method="get"><button type="submit" class="inscrevase">INSCREVA-SE</button></form>
			</div>
		</div>		 #}
		<div class="row content">
			<div class="col-lg-12" style="color:#fff !important;">
				<p>Atendimento das 9 às 21 horas</p>
				<section class="sociais">
					<a href="https://www.instagram.com/famamericana/" target="_blank">
						<img border="0" src="/assets/img/insta.png" />
					</a>
					<a href="https://www.facebook.com/famamericana/" target="_blank">
						<img border="0" src="/assets/img/face.png" />					
					</a>
					<a href="mailto:vestibular@fam.br" target="_blank">
						<img border="0" src="/assets/img/email.png" />						
					</a>
					<a href="tel:08007712449"><img border="0" src="/assets/img/tel.png" /><span>0800 771 2449 &nbsp;</span></a>
					<a href="https://wa.me/5519994379555" target="_blank"><img border="0" src="/assets/img/whats.png" /><span>Whats FAM (19) 99437-9555</span></a><br>
				</section>
				<div class="esconder-desktop">
					<a href="https://www.instagram.com/famamericana/" target="_blank">Instagram</a>
					<a href="https://www.facebook.com/famamericana/" target="_blank">Facebook</a>
					<a href="mailto:vestibular@fam.br" target="_blank">Email</a>					
				</div>
			</div>
		</div>
	</div>	
</footer>
	
	
<script src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js'></script>
<script src='/assets/js/compressed.js'></script>
<script src='/assets/js/index.js'></script>
	
<script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();
    document.getElementById('moar').onclick = function() {
      var section = document.createElement('section');
      section.className = 'section--purple wow fadeInDown';
      this.parentNode.insertBefore(section, this);
    };
</script>

<script>//<![CDATA[
$('body').addClass('js');$('.tutor').each((i,o)=>{var docente=$(o);var btn=$('<button class="ver-mais">Leia Mais</button>');btn.click(()=>{docente.toggleClass('open');if(docente.hasClass('open'))
btn.text('Voltar');else
btn.text('Leia Mais');});docente.append(btn);});
//]]></script>

<style>
  body.js #tutores .tutor {
	position: relative;
	vertical-align: top;
  }
  body.js #tutores .tutor p {
    position: relative;
    max-height: 10em;
    overflow: hidden;
    transition: max-height 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  body.js #tutores .tutor:not(.open) p:before {
    content: " ";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 3em;
    pointer-events: none;
    background: linear-gradient(rgba(255, 255, 255, 0), white);
  }
  body.js #tutores .tutor.open {
    padding-bottom: 1em;
  }
  body.js #tutores .tutor.open p {
    max-height: 100em;
  }
  body.js #tutores .tutor .ver-mais {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 0.6em;
    font-weight: bold;
    letter-spacing: 0.2em;
    padding: 0.4em 1em;
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
    background-color: #0d2010;
    border: 0px none;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  }
</style>
   
</body>
</html>
