<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'TOP3::includes.head' %}
    <link rel="stylesheet" href="css/loading-bar.css" />
</head>
<body> 
<section class="full justify-center" id="bg-perguntas"> 
    <div id="cover">
        <div class="border-container"></div>
        <img border="0" src="img/mulher-esquerda-baixo.png" alt="" class="mulher-esquerda-baixo">
        <img border="0" src="img/mulher-direita-topo.png" alt="" class="mulher-direita-topo">
        <button id="start" title="Começar novamente">Começar novamente</button>
    </div>
    <div class="container flex-center">
        <div class="row w-100">
            <div class="col-lg-12 inicio pergunta">
                <section class="content container-fluid" id="quiz"></section>
                <div class="questions-nav">
                    <button class="btn" id="prev"></button>             
                    <button class="btn" id="next"></button>             
                </div>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
                <center>          
                    <div class="ldBar label-center" data-preset="circle" data-value="0" id="quizProgress"></div>
                </center>    
            </div>
        </div>    
    </div>
</section>
<form id="resultados" action="/resultados" method="post" style="display:none;">{{ csrf_field() }}</form>
<script src="js/loading-bar.min.js"></script>
<script src="js/index.js"></script>  
</body>
</html>
