{% extends 'LP::layout' %}

{% set title = 'Programa Faculdade Aberta - FAM' %}
{% set meta_desc = 'A FAM estará de portas abertas para te receber. Venha conhecer nossa estrutura e como funciona o nosso universo.' %}
{% set meta_keyw = '' %}

{# Iniciando números #}
{% set set_30_manha = 0 %}
{% set set_30_noite = 0 %}
{% set out_01_manha = 0 %}
{% set out_01_noite = 0 %}
{% set out_02_manha = 0 %}
{% set out_02_noite = 0 %}
{% set out_03_manha = 0 %}
{% set out_03_noite = 0 %}
{% set out_04_manha = 0 %}
{% set out_04_noite = 0 %}
{% set out_07_manha = 0 %}
{% set out_07_noite = 0 %}
{% set out_08_manha = 0 %}
{% set out_08_noite = 0 %}
{% set out_09_manha = 0 %}
{% set out_09_noite = 0 %}
{% set out_10_manha = 0 %}
{% set out_10_noite = 0 %}
{% set out_11_manha = 0 %}
{% set out_11_noite = 0 %}

{# Para cada escola inscrita #}
{% for escola in data_requested %}
    {# Verificar se está cadastrado #}
    {% if (escola.data.data_e_periodo is defined) %}
        {% set periodo = escola.data.data_e_periodo %}
        {%     if (periodo == "set_30_manha") %} {% set set_30_manha = set_30_manha + escola.data.nro_alunos %}
        {% elseif (periodo == "set_30_noite") %} {% set set_30_noite = set_30_noite + escola.data.nro_alunos %}
        {% elseif (periodo == "out_01_manha") %} {% set out_01_manha = out_01_manha + escola.data.nro_alunos %}
        {% elseif (periodo == "out_01_noite") %} {% set out_01_noite = out_01_noite + escola.data.nro_alunos %}
        {% elseif (periodo == "out_02_manha") %} {% set out_02_manha = out_02_manha + escola.data.nro_alunos %}
        {% elseif (periodo == "out_02_noite") %} {% set out_02_noite = out_02_noite + escola.data.nro_alunos %}
        {% elseif (periodo == "out_03_manha") %} {% set out_03_manha = out_03_manha + escola.data.nro_alunos %}
        {% elseif (periodo == "out_03_noite") %} {% set out_03_noite = out_03_noite + escola.data.nro_alunos %}
        {% elseif (periodo == "out_04_manha") %} {% set out_04_manha = out_04_manha + escola.data.nro_alunos %}
        {% elseif (periodo == "out_04_noite") %} {% set out_04_noite = out_04_noite + escola.data.nro_alunos %}
        {% elseif (periodo == "out_07_manha") %} {% set out_07_manha = out_07_manha + escola.data.nro_alunos %}
        {% elseif (periodo == "out_07_noite") %} {% set out_07_noite = out_07_noite + escola.data.nro_alunos %}
        {% elseif (periodo == "out_08_manha") %} {% set out_08_manha = out_08_manha + escola.data.nro_alunos %}
        {% elseif (periodo == "out_08_noite") %} {% set out_08_noite = out_08_noite + escola.data.nro_alunos %}
        {% elseif (periodo == "out_09_manha") %} {% set out_09_manha = out_09_manha + escola.data.nro_alunos %}
        {% elseif (periodo == "out_09_noite") %} {% set out_09_noite = out_09_noite + escola.data.nro_alunos %}
        {% elseif (periodo == "out_10_manha") %} {% set out_10_manha = out_10_manha + escola.data.nro_alunos %}
        {% elseif (periodo == "out_10_noite") %} {% set out_10_noite = out_10_noite + escola.data.nro_alunos %}
        {% elseif (periodo == "out_11_manha") %} {% set out_11_manha = out_11_manha + escola.data.nro_alunos %}
        {% elseif (periodo == "out_11_noite") %} {% set out_11_noite = out_11_noite + escola.data.nro_alunos %}
        {% endif %}
    {% endif %}
{% endfor %}

{# Inicia opções que serão mostradas #}
{% set opcoes =
[
    {"id": "set_30_manha", "data": "30/09/2019", "horario": "8h às 11h", "alunos": set_30_manha },
    {"id": "set_30_noite", "data": "30/09/2019", "horario": "19h às 22h", "alunos": set_30_noite },
    {"id": "out_01_manha", "data": "01/10/2019", "horario": "8h às 11h", "alunos": out_01_manha },
    {"id": "out_01_noite", "data": "01/10/2019", "horario": "19h às 22h", "alunos": out_01_noite },
    {"id": "out_02_manha", "data": "02/10/2019", "horario": "8h às 11h", "alunos": out_02_manha },
    {"id": "out_02_noite", "data": "02/10/2019", "horario": "19h às 22h", "alunos": out_02_noite },
    {"id": "out_03_manha", "data": "03/10/2019", "horario": "8h às 11h", "alunos": out_03_manha },
    {"id": "out_03_noite", "data": "03/10/2019", "horario": "19h às 22h", "alunos": out_03_noite },
    {"id": "out_04_manha", "data": "04/10/2019", "horario": "8h às 11h", "alunos": out_04_manha },
    {"id": "out_04_noite", "data": "04/10/2019", "horario": "19h às 22h", "alunos": out_04_noite },
    {"id": "out_07_manha", "data": "07/10/2019", "horario": "8h às 11h", "alunos": out_07_manha },
    {"id": "out_07_noite", "data": "07/10/2019", "horario": "19h às 22h", "alunos": out_07_noite },
    {"id": "out_08_manha", "data": "08/10/2019", "horario": "8h às 11h", "alunos": out_08_manha },
    {"id": "out_08_noite", "data": "08/10/2019", "horario": "19h às 22h", "alunos": out_08_noite },
    {"id": "out_09_manha", "data": "09/10/2019", "horario": "8h às 11h", "alunos": out_09_manha },
    {"id": "out_09_noite", "data": "09/10/2019", "horario": "19h às 22h", "alunos": out_09_noite },
    {"id": "out_10_manha", "data": "10/10/2019", "horario": "8h às 11h", "alunos": out_10_manha },
    {"id": "out_10_noite", "data": "10/10/2019", "horario": "19h às 22h", "alunos": out_10_noite },
    {"id": "out_11_manha", "data": "11/10/2019", "horario": "8h às 11h", "alunos": out_11_manha },
    {"id": "out_11_noite", "data": "11/10/2019", "horario": "19h às 22h", "alunos": out_11_noite },
]
%}

{% block body %}

<nav class="l-nav container d-flex flex-column flex-md-row justify-content-md-between align-items-center pt-3">
    <a href="https://fam.br" target="_blank" rel="noopener"><img src="/assets/img/logo-fam.svg" alt="" class="c-logo"/></a>
    <ul class="c-menu d-flex flex-wrap justify-content-center">
        <li class="c-menu__item"><a href="https://issuu.com/famamericana/docs/guia_de_cursos_2019_issu" class="c-menu__link" target="_blank">Guia de Cursos</a></li>
        <li class="c-menu__item"><a href="https://assets.fam.br/editais/Programa%20Desconto%20Especial%20pelo%20ENEM%20-%202019.2.pdf" class="c-menu__link" target="_blank">Edital</a></li>
    </ul>
</nav>

<section class="c-chamada">
    <div class="container c-chamada__content d-flex flex-column align-content-center justify-content-between">
        <img src="/assets/img/logo-chamada.png" class="c-chamada__logo wow zoomIn"/>
        <span>
            <h2 class="c-chamada__title wow fadeInUp">A FAM estará de portas abertas para te receber</h2>
            <p class="c-chamada__text wow fadeInUp">Venha conhecer nossa estrutura e como funciona o nosso universo.</p>
        </span>
    </div>
</section>

<main class="container c-content pt-5 pb-5">
    <p class="c-content__text mt-4 wow fadeInUp">Favor, realize o cadastro</p>
    <!-- Form -->
    <form method="post" action="/inscricao" class="c-form js-form">
        {{ csrf_field() }}
        <div class="row pb-5">
            <div class="col-md-12"><input required class="c-form__input wow fadeInUp" type="text" placeholder="Nome completo da escola" name="nome_escola" /></div>
            <div class="col-md-6"><input required class="c-form__input wow fadeInUp" type="text" placeholder="Nome do coordenador(a) pedagógico" name="nome_coordenador_pedagogico" /></div>
            <div class="col-md-6"><input required class="c-form__input wow fadeInUp" type="text" placeholder="Nome do responsável pelo cadastro" name="nome_responsavel_cadastro" /></div>

            <div class="col-md-4"><input required class="c-form__input wow fadeInUp" type="text" placeholder="Endereço completo da escola" name="endereco_escola"/></div>
            <div class="col-md-4">
                <select size required class="c-form__select wow fadeInUp" name="estado_escola">
                    <option selected disabled value="">Selecione seu estado...</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AM">Amazonas</option>
                    <option value="AP">Amapá</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="PR">Paraná</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SE">Sergipe</option>
                    <option value="SP">São Paulo</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
            <div class="col-md-4"><input required class="c-form__input wow fadeInUp" type="text" placeholder="Cidade" name="cidade_escola" /></div>

            <div class="col-md-6"><input required class="c-form__input wow fadeInUp" type="tel" placeholder="Telefone do responsável" name="telefone_responsavel" /></div>
            <div class="col-md-6"><input required class="c-form__input wow fadeInUp" type="email" placeholder="E-mail do responsável" name="email_responsavel" /></div>

            <div class="col-md-12"><input required class="c-form__input wow fadeInUp js-qtd-alunos" type="number" placeholder="Quantidade de alunos que participarão" name="nro_alunos" /></div>
            
            <div class="col-md-12 js-data-horario d-none">
                <select class="c-form__select animated fadeInUp js-opcao" name="data_e_periodo" required>
                    <option selected disabled value="" class="js-data-default">Escolha uma data e horário</option>
                    {% for opcao in opcoes %}
                        {% if opcao.alunos < 550 %}
                            <option value="{{ opcao.id }}" class="d-none js-opcao-disponivel" data-vagas="{{ 550 - (opcao.alunos) }}">{{ opcao.data }} - {{ opcao.horario }} ({{ 550 - (opcao.alunos) }} vagas)</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            
        </div>
        <input class="c-form__submit wow fadeInUp" type="submit" value="Concluir Cadastro" />
    </form>
    <div class="c-popup js-popup">
        <div class="c-popup__inner">
            <h2 class="c-popup__title">Cadastro realizado com sucesso!</h2>
            <p class="c-popup__text">Em caso de dúvidas, entre em contato pelo telefone <a href="tel:1934658100" class="c-popup__link">(19) 3465-8100</a>.</p>
            <button class="c-popup__close js-popup-close">Ok</button>
        </div>
    </div>
</main>

<footer class="l-footer mt-0 mt-md-5">
    <div class="container">
        <p>Atendimento das 9 às 21 horas | <a class="l-footer__link" target="_blank" href="https://assets.fam.br/editais/Programa%20Desconto%20Especial%20pelo%20ENEM%20-%202019.2.pdf">Edital</a> | <a class="l-footer__link" target="_blank" href="https://issuu.com/famamericana/docs/guia_de_cursos_2019_issu">Guia de Cursos</a></p>
        <div class="social">
            <a class="l-footer__link" target="_blank" href="http://instagram.com/famamericana"><i class="l-footer__icon fa fa-instagram"></i></a>
            <a class="l-footer__link" target="_blank" href="http://fb.com/famamericana"><i class="l-footer__icon fa fa-facebook"></i></a>
            <a class="l-footer__link" target="_blank" href="mailto:vestibular@fam.br"><i class="l-footer__icon fa fa-envelope-o"></i></a>
            <a class="has-text l-footer__link" target="_blank" href="tel:08007712449">
                <i class="l-footer__icon fa fa-phone"></i>
                0800 771 2449
            </a>
            <a class="has-text l-footer__link" target="_blank" href="https://api.whatsapp.com/send?phone=551994379555">
                <i class="l-footer__icon fa fa-whatsapp"></i>
                WhatsFAM (19) 99437-9555
            </a>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha256-z6FznuNG1jo9PP3/jBjL6P3tvLMtSwiVAowZPOgo56U=" crossorigin="anonymous"></script>
<script>
    $( document ).ready(function() {
        // Iniciar Wow.js
        new WOW().init();

        // Ao selecionar uma opção, deixar em destaque
        $(".js-qtd-alunos").on("input", function() {
            let qtdAlunos = $(this).val();

            // Para cada opção que o sistema liberar
            $(".js-opcao-disponivel").each(function(i, e) {
                let opcoesLiberadas = 0;
                if (parseInt($(e).attr("data-vagas")) >= parseInt(qtdAlunos)) {
                    opcoesLiberadas++;
                    $(e).removeClass("d-none");
                } else {
                    $(e).addClass("d-none");
                }

                if (opcoesLiberadas === 0) {
                    $(".js-data-default").text("Não há horários disponíveis para esse número de alunos.");
                } else {
                    $(".js-data-default").text("Escolha uma data e horário");
                }
            });
            
            // Resetar o horário sempre que mudar
            $(".js-opcao").val("");
            // Mostrar o campo de horários
            $(".js-data-horario").removeClass("d-none");
        });
        if (document.URL.match(/success=([0-9]+)/)[1]) {
            $(".js-popup").fadeIn();
        }

        $(".js-popup-close").on("click", function() {
            $(".js-popup").fadeOut();
        });
    });
</script>
<style>
    
</style>

{% endblock %}