<meta charset="utf-8"/>
<title>FAM - Teste de Orientação Profissional</title>
<meta name="keywords" content="fam, teste, faculdade de americana, americana, teste de orientação, orientacao, profissional">  
<link rel="stylesheet" href="css/animate.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/grids.css" />
<link rel="stylesheet" href="css/loading-bar.css" />
<meta name="viewport"  content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="img/favicon.png" type="image/png" />
<meta property="og:type" content="website" />
<meta property="og:title" content="FAM - Teste de Orientação Profissional" />
<meta property="og:description" content="" />
<meta http-equiv="Cache-Control" content="public" />
<link rel="stylesheet" type="text/css" href="css/updated.css" />

<!-- Google Code for p&aacute;gina inicial - TOP Conversion Page --> <!-- teste -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 858546155;
var google_conversion_label = "j-DUCK6bhIABEOu_sZkD";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/858546155/?label=j-DUCK6bhIABEOu_sZkD&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

{% if custom_branding %}
<link rel="stylesheet" type="text/css" href="{{ custom_branding }}/style.css" />
{% endif %}

<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script type="text/javascript">
window.fbAsyncInit = function() {
	FB.init({
		appId      : '1395394967220729',
		xfbml      : true,
		version    : 'v2.9'
	});
	FB.AppEvents.logPageView();
};

(function(d, s, id){
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) {return;}
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/pt_BR/sdk.js";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80310575-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-80310575-6');
</script>