{% extends ('Admin::layout') %}

{% set title = 'API Interna' %}

{% block content %}
<div class="right_col" role="main">
	<div class="">

    <form method="post" action="/dev/api">
      {{ csrf_field() }}
          
      <div class="row">
        <div class="col-md-12" style="padding-top: 1em; padding-bottom: 1em">
            <input type="submit" class="btn btn-primary" value="Nova Chave API" />
        </div>
      </div>
      
      <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Chaves de API</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Token</th>
                          <th>Passcode</th>
                        </tr>
                      </thead>
                      <tbody>
                    {% for api in keys %}
                        <tr>
                          <th scope="row">{{ api.id }}</th>
                          <td><input readonly type="text" class="form-control" value="{{ api.key }}" /></td>
                          <td><input readonly type="text" class="form-control" value="{{ api.private_key }}" /></td>
                        </tr>
                    {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
          </div>

      </form>
    </div>
</div>

{% endblock %}