// Inputs padrão (texto e select)
input[type="text"],
input[type="email"],
input[type="number"],
select {
	&.form-control {
	    display: block;
	    padding: .5em .75em;
	    color: $scheme-form-input-text;
	    font-size: 1.25em;
	    border: none;
	    margin: 0;
	    background-color: $scheme-form-input-background;
	    box-shadow: 0 -1px 0 $scheme-form-input-shadow;
	    font-weight: bold;
	    text-align: center;
	    border-radius: 0px;
	}
}
select:not([size]):not([multiple]) {
	&.form-control {
		font-size: 1em;
	}
}

// Botões
.btn {
	background-color: $scheme-form-button-background;
	color: $scheme-form-button-text;
	border-color: $scheme-form-button-border;

	&:hover {
		background-color: $scheme-form-button-hover-background;
		color: $scheme-form-button-hover-text;
		border-color: $scheme-form-button-hover-border;
	}

	&.cta {
		background-color: $scheme-form-button-cta-background;
		color: $scheme-form-button-cta-text;
		border-color: $scheme-form-button-cta-border;

		&:hover {
			background-color: $scheme-form-button-cta-hover-background;
			color: $scheme-form-button-cta-hover-text;
			border-color: $scheme-form-button-cta-hover-border;
		}
	}

	&.large {
		font-size: 1.5em;
		padding: .375rem 1.5rem;
	}

	&.uppercase { text-transform: uppercase; }
	&.centered {
		margin-left: auto;
		margin-right: auto;
	}
}

// Placeholders
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $scheme-form-placeholder-text !important;
	font-weight: 300;
	font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
	color: $scheme-form-placeholder-text !important;
	font-weight: 300;
	font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
	color: $scheme-form-placeholder-text !important;
	font-weight: 300;
	font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
	color: $scheme-form-placeholder-text !important;
	font-weight: 300;
	font-style: italic;
}

.form-home {
	margin-bottom: 4.5em;
}