{% extends ('Admin::layout') %}

{% import 'Admin::helpers.form_financeiro' as form %}
{% import 'Admin::helpers.tabela_financeiro' as tabela %}

{% set title = 'Notas Fiscais' %}

{% block content %}
<div class="right_col" role="main">
	<div class="">
		<div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Notas Fiscais: Mês Anterior</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

				{{ tabela.listar_notas_mes_anterior (notasMesAnterior) }}

                </div>
              </div>
            </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Notas Fiscais: Este Mês</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

				{{ tabela.listar_notas_mes (notasMes) }}

                </div>
              </div>
            </div>

            <div class="clearfix"></div>
        </div>
        
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Notas Fiscais: Todas</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

				{{ tabela.listar_notas (notas) }}

                </div>
              </div>
            </div>

            <div class="clearfix"></div>
        </div>

	    {{ form.editar_nota (null, notas, campanhas, fornecedores) }}

    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- FullCalendar -->
<script>
  $(window).load(function() {

    $('#tabela_locais').DataTable( {
      responsive: true
    });
  });
</script>
<!-- /FullCalendar -->

<style>
.dataTables_filter {
  width: auto;
}
</style>
{% endblock %}