<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Vestibular FAM</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/update.css">	
	</head>
	<body id='page-adicionais'>
		<div class="alteracoes vmatricula">
			<img class="imgadd" src="/assets/images/fam2020.png">
			<h1 style="color:#FFF;">{{ frase }}</h1>
			<br>
			<input class="add" type="button" onclick="window.location.href='/apagaCPF'" value="Voltar">			
		</div>
	</body>
</html>
