<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Vestibular FAM</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/update.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/js/update.js"></script>
		<script type="text/javascript" src="/assets/js/validador.js"></script>

		<script type="text/javascript">
			function envia() {								
				$("#form1").submit();				
			}
		</script>

	</head>
	<body id='page-adicionais' class="mmatricula">
		<div class="alteracoes amatricula">
			<img class="imgadd" src="/assets/images/fam_layoutmatriculas_banner.png">
			<br><br><br>
			<h3>Você está iniciando o processo de Matrícula na FAM - Faculdade de Americana.<br>
			Digite seu CPF e clique em Prosseguir</h3>
			<br><br>
			<h3 style="color: #f00;">( Sugerimos que utilize um computador)</h3>
			<br><br>
			<form id="form1" method="POST" action="/inscricao/adicionais">
				{{ csrf_field() }}
				<input class="form-control" id="cpf" name="cpf" maxlength="14" type="tel" placeholder="* Digite um CPF" onkeypress="MascaraCPF(this);"/><br><br>
				<input type="button" onclick="document.getElementById('form1');
				if(!validaCPF(form1.cpf.value)){
					form1.cpf.value='';document.getElementById('resp').innerHTML='Digite um CPF válido !';
					}else{envia();}" class="add" value="Prosseguir"/><br>
				<br><br>
				<h3 id="resp" style="color: #f00;">&nbsp;</h3>
			</form>
			<br><br>
			<img class="imglogo" src="/assets/images/fam_layoutmatriculas_logo.png">
		</div>
	</body>
</html>
