<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Vestibular FAM</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/update.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/js/update.js"></script>
		<script type="text/javascript" src="/assets/js/validador.js"></script>
		<script type="text/javascript" src="/assets/js/cep.js"></script>
		<script type="text/javascript" src="/assets/js/cepR.js"></script>
	</head>
	<div class="poparq"></div>
	<body id='page-adicionais'>
		<div class="alteracoes vmatricula">
			<h3>Teste Email</h3>
			<h3>{{ frase1 }}</h3>
			<h3>{{ frase2 }}</h3>
			<!--<img class="imgadd" src="/assets/images/fam2020.png">
			<h3>Cadastro de Matrícula</h3>
			<form id="form1" action="/" method="post" enctype="multipart/form-data">
				<p>
					<a class="aceita" href="/assets/docs/Termo_LGPD.pdf" target="_blank">Aceita Termo para Tratamento de Dados Pessoais ?</a>&emsp;
					<input type="checkbox" id="aceito2">
				</p>
			</form>-->
		</div>
	</body>
</html>
