    /* ALTERAÇÕES EVERTON 04-06-2020 */

    .pop {
        margin: 0;
        padding: 0;
        display: block;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 120%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 2000;
    }

    .pop .msg {
        margin: 0;
        padding: 0;
        display: block;
        position: absolute;
        top: 15%;
        left: 35%;
        width: 500px;
        height: 500px;
        background-color: #f0506f;
        z-index: 2500;
    }

    .pop .bolsa {
        display: block;
        position: absolute;
        width: 200px;
        height: 50px;
        top: 433px;
        left: 150px;
        border-radius: 5px;
        background-color: #c6d92c;
        color: #fff;
        font-weight: 600;
        z-index: 3000;
    }

    @media (min-width: 768px) {
        .navbar {
            top: 10px;
            display: block;
            position: relative;
            margin: 0 auto;
            background-color: #0e2e7c;
            width: 1110px;
            height: 110px;
            border-radius: 30px;
        }
        .index {
            display: block;
            position: relative;
            margin: 0 auto;
            background-color: #0e2e7c;
            margin-top: -3em !important;
            padding-top: 30em !important;
            border-radius: 30px;
        }
        .img-home-person {
            transform: scale(0.8);
            position: absolute;
            top: 3px !important;
            left: 3em;
        }
        .form-home {
            position: absolute;
            margin-left: 12.5em !important;
            margin-top: -4em !important;
        }
    }

    .form-home {
        z-index: 500 !important;
    }

    .form-home input, .form-home select {
        color: #0e2e7c !important;
        background-color: #FFCA30 !important;
        border: 1px solid #0e2e7c;
    }

    @media (max-width: 768px) {
        .pop .msg {
            transform: scale(0.65);
            left: -1em;
        }
    }

    .tutoarq {
        cursor: pointer;
        display: block;
        width: 16px;
        margin-top: -2.5em;
        float: right;
        padding: 5px;
        border-radius: 16px;
        background-color: #ec008c;
    }

    .tutoarq:hover {
        background-color: #ffca30;
    }

    /*manuais*/

    .poparq {
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 120%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 2000;
    }

    .imgarq1, .imgarq2, .imgarq3, .imgarq4, .imgarq5, .imgarq6, .imgarq7, .imgarq8, .imgarq9, .imgarq10, .imgarq11, .imgarq12 {
        display: none;
        position: absolute;
        margin-left: 2em;
        z-index: 2500;
    }

    @media (min-width: 768px) {
        #pageinscricao {
            display: block;
            position: relative;
            margin: 0 auto;
            margin-top: -200px;
            width: 1100px;
            height: 100%;
        }
        #pagefinaliza {
            display: block;
            position: relative;
            margin: 0 auto;
            margin-top: 0px;
            width: 1100px;
            height: 100%;
            margin-left: 18%;
        }
        .imginscricao {
            transform: scale(0.9);
            display: block;
            position: relative;
            margin: 0 auto;
            margin-top: 10em !important;
        }
        .js-form {
            display: block;
            position: relative;
            margin-top: -450px !important;
        }
        .inscricaofundo {
            display: block;
            position: relative;
            width: 1110px !important;
            border-radius: 30px;
            top: -2em;
            background-color: #0e2e7c;
        }
        .finalizado {
            display: block;
            position: relative;
            left: -4.3em;
            width: 1110px !important;
            padding-left: 150px !important;
            padding-top: 20px !important;
            border-radius: 30px;
            top: -2.5em !important;
            background-color: #0e2e7c;
            margin-bottom: -18em !important;
        }
        .logo-azul {
            display: block;
            position: absolute;
            left: 14em;
            top: 20px;
            height: 50px;
            z-index: 1000 !important;
        }
    }

    ul a.nav-link {
        background-color: #0e2e7c !important;
        color: #fff !important;
    }

    ul a.nav-link:hover {
        background-color: #ffca30 !important;
        color: #fff !important;
    }

    @media (max-width: 768px) {
        .js-form {
            display: block;
            position: relative;
            margin-top: -260px !important;
        }
        .inscricaofundo {
            background-color: #0e2e7c;
        }
        .finalizado {
            background-color: #0e2e7c;
        }
        .logo-azul {
            display: none;
        }
    }

    .btn-concluir {
        background-color: #ffca30 !important;
        color: #ec008c !important;
    }

    .btn-concluir:hover {
        background-color: #29295f !important;
        color: #fff !important;
    }

    #page-adicionais .arquivo {
        cursor: pointer;
        display: block;
        position: relative;
        margin: 0 auto;
        background-color: #ccc;
        width: 390px;
        font-size: 20px;
        line-height: 50px;
        height: 50px;
        border-radius: 4px;
        left: -15px;
    }

    .oculto, .vestibular, .enem, .formado, .tecnico, .confirmaemail, .deficiencia {
        display: none;
    }

    .datanascimento {
        background-color: #1EADE9;
    }

    @media (min-width: 768px) {
        .pontosenem {
            display: block;
            position: relative;
            margin: 0 auto;
            left: 230px;
            color: #fff;
        }
    }

    @media (max-width: 768px) {
        .pontosenem {
            display: block;
            position: relative;
            margin: 0 auto;
            color: #fff;
        }
    }

    .alteracoes, .responsavel {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 430px;
        padding: 20px;
        text-align: center;
        height: 100%;
    }

    .responsavel {
        display: none;
        position: relative;
        margin: 0 auto;
        width: 380px;
        margin-left: -18px;
        border-radius: 4px;
        text-align: center;
        height: 100%;
    }

    #page-adicionais input[type="text"], #page-adicionais input[type="email"], #page-adicionais input[type="tel"], #page-adicionais input[type="file"] {
        width: 400px;
    }

    #page-adicionais select {
        width: 430px;
        height: 45px;
    }

    #page-adicionais input[type="file"] {
        font-size: 16px;
        width: 434px;
        height: 45px;
    }

    .readonly {
        background-color: #29295f;
    }

    .add {
        border-radius: 4px;
        font-size: 15px;
        font-weight: 600;
        border: 0;
        border-top: 1px solid #2b347c;
        width: 150px;
        height: 50px;
        background-color: #ffca30;
        color: #d3007d;
    }

    .add:hover {
        background-color: #fff;
        color: #d3007d;
    }

    @media (max-width: 768px) {
        .alteracoes {
            margin: 0;
            padding: 0;
            transform: scale(0.95);
        }
    }

    #page-adicionais input[type="text"].afazer, #page-adicionais select.afazer, #page-adicionais input[type="email"].afazer, #page-adicionais input[type="tel"].afazer, #page-adicionais input[type="file"].afazer {
        background-color: #ccc;
    }
    a.aceita {
        font-size: 16px;
        color: #fff;
    }
    .rodape {
        display: block;
        position: relative;
        margin-top: -2em !important;
        z-index: 1;
        color: #0e2e7c !important;
    }


    
    .vmatricula h3{
        color: #fff;
    }
    .vmatricula input, .vmatricula select, .vmatricula label{
        background-color: #FFCA30 !important;
        color: #0e2e7c !important;
    }
    .vmatricula input[type="checkbox"]{
        transform: scale(1.5);
        float: right;
    }
    .vmatricula input[type="button"]{
        cursor: pointer;
        background-color: #ec008c !important;
        color: #fff !important;
    }
    .vmatricula input[type="button"]:hover{
        background-color: #FFCA30 !important;
        color: #0e2e7c !important;
    }

    .vmatricula input::placeholder{
        color: #0e2e7c !important;
    }

