{% extends ('Admin::layout') %}

{% import 'Admin::helpers.form_prova' as form %}

{% set title = 'Datas de Prova' %}

{% block content %}
<div class="right_col" role="main">
	<div class="">
		<div class="row">

        {{ form.editar_datas_provas (data, unidades) }}

            <div class="clearfix"></div>
        </div>

    </div>
</div>
{% endblock %}