{% extends 'layout.html' %}
{% block pagina %}
<div data-configid="0/38384432" style="max-width:100vw; height:80vh;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
{% endblock %}