{% extends 'AmbienteConversao::layout' %}
{% block pagina %}
<header class="banner-finalizado">
	<div class="layout">
		<h2 id="vc-no-topo">Parab&eacute;ns! <span>{{ primeiro_nome }}</span></h2>
		<h2 id="nome-curso">Dados adicionais cadastrados com sucesso!</h2>
	</div>
	<h2 id="nome-curso-mobile">Dados adicionais cadastrados com sucesso!<h2>
</header>
{% endblock %}