{% extends 'AmbienteConversao::layout.twig' %}

{% set page_id = 'page-finalizar-inscricao' %}

{% block body %}
	<div id="pagefinaliza">
		<main class="container">
			<div class="row">				
				<div class="content offset-md-1 col-md-7">
					<div class="row">



	<h2 id="vc-no-topo">Parabéns!<br>
	Os dados para a realização da matrícula foram enviados com sucesso.</h2>

			
					</div>
				</div>
			</div>
		</main>
	</div>
{% endblock %}

{% block scripts %}{% endblock %}