{% extends 'LP::layout' %}

{% set title = 'FAM na Escola — Faculdade de Americana' %}
{% set meta_desc = '' %}
{% set meta_keyw = '' %}

{% block body %}
<div class="inscricao">
    <div class="container">
        <div class="row">
           <div class="col-12 col-lg-6">
                <!-- Logo -->
                <img alt="FAM na Escola" src="/assets/img/home-logo.png" />
            </div>
            <div class="col-12 col-lg-6">
                <div class="title-wrapper">
                    <h3>Palestras</h3>
                    <img src="/assets/img/insc-title-bg.png">
                </div>
                <p class="big mt-4">
                    Atenção docentes do 3º ano do Ensino Médio.
                </p>
                <p>
                    Este ano, a FAM - Faculdade de Americana - volta a oferecer a sua escola palestras com enfoque socioeducativo. Elas são gratuitas. Desde os anos anteriores já passamos por mais de 250 escolas. 
                </p>
                <p>
                    Os assuntos abordados nas palestras são questões sobre a escolha da profissão e os mecanismos facilitadores para ingressar no Ensino Superior, como o ENEM, SISU e Prouni.
                </p>
                <p>
                    É discutida também a importância do ENEM com dicas de como as provas são estruturadas.
                </p>
                <!-- Form -->
                <form method="post" action="/inscricao/fam-na-escola">
                    {{ csrf_field() }}
                    <div class="row">
                        <div class="col-md-6"><input required class="form-control" type="text" placeholder="Nome da Escola:" name="escola" /></div>
                        <div class="col-md-6"><input required class="form-control" type="text" placeholder="Cidade:" name="cidade" /></div>
                        <div class="col-md-6"><input required class="form-control" type="text" placeholder="Responsável:" name="responsavel" /></div>
                        <div class="col-md-6"><input required class="form-control" type="email" placeholder="E-mail do Responsavel:" name="responsavel_email" /></div>
                        <div class="col-md-6"><input required class="form-control" type="tel" placeholder="Telefone do Responsável:" name="responsavel_telefone" /></div>
                        <div class="col-md-6"><input required class="form-control" type="date" placeholder="Data:" name="data" min="2020-04-01" /></div>
                    </div>
                    <input class="btn btn-primary mt-4 mb-5" type="submit" value="Inscrever Escola" />
                </form>
            </div>
        </div>      
    </div>
</div>
{% endblock %}